[2015-07-10 06:40] jacksolutions opened #2 "how to create student, faculty and librarian account?"
How to create student, faculty and librarian accounts in this ERP? if i just assign school student permission and login, it shows lots of errors and it also shows lots of options which student dont need or they should not have access too? any documentation on it?

[2015-07-10 11:13] JayVora-SerpentCS commented on #2
Jacksolutions,

We have been working on a document which we can email to you. Kindly share your email.
Other than that, each of the student/librarian/faculties have a separate menu.
Thanks.

[2015-07-10 11:26] jacksolutions commented on #2
just sent you an email on your email address

i have tried every permission, none of them came up with separate menu. can you please guide?

thanks

[2016-01-13 15:35] emileboshoff opened #11 "Can't create student"
Hi,

Please could you assist with the following error I keep on getting when trying to create a student or clicking on "Admission Register"

ProgrammingError: invalid reference to FROM-clause entry for table "res_users"
LINE 2: ..."user_id" = "student_student__user_id"."id") AND ("res_users...
                                                             ^
HINT:  Perhaps you meant to reference the

[2016-01-16 11:41] JayVora-SerpentCS commented on #11
Emile,
This is an official odoo issue and has been already fixed. Would you please make sure to have the latest version?
Thanks.

[2016-01-16 11:41] #11 closed, assigned to nobody

[2016-01-25 08:51] macmaina commented on #2
JayVora-SerpentCS,

I am trying to go through all the modules in EduERPv8. I would appreciate if i would also get a document detailing the different items on the ERP. For example, whats the difference between standards, divisions, mediums and classes?

Thank you.

[2016-01-25 15:24] JayVora-SerpentCS commented on #2
odooems.com has the option now.
We would appreciate to have contribution from your end regarding this.
Thanks.

[2016-01-25 15:24] #2 closed

[2016-02-29 11:48] mamaf opened #13 "French localisation in demo data"
The demo data needs to take into account the french localisation for dates, otherwise the installation doesn't work

In demo_data.xml : dates are calculated but in wrong format for french localisation

there is still a problem with week_day calculation
the function give the week_day in french
and the time_table_line expects week_day in english

[2016-03-04 02:38] HarrySG opened #14 "Error message shown when trying to create new teacher."
Odoo Server Error
Traceback (most recent call last):
  File "/home/harry/odoo/openerp/http.py", line 643, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/harry/odoo/openerp/http.py", line 680, in dispatch
    result = self._call_function(*_self.params)
  File "/home/harry/odoo/openerp/http.py", line 316, in _call_function
    return checked_call(

[2016-03-04 07:00] JayVora-SerpentCS commented on #14
Which version are you using?
Thanks.

[2016-03-09 10:10] #14 closed, assigned to nobody

[2016-11-08 08:10] W360S opened #17 "install odoo 9 error"
Odoo Server Error
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/openerp/http.py", line 647, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/openerp/http.py", line 684, in dispatch
    result = self._call_function(**self.params)
  File "/usr/lib/python2.7/dist-packages/openerp/http.py", line

[2016-11-10 11:38] JayVora-SerpentCS commented on #17
You have to install xlwt package, its a python lib

[2016-11-10 11:38] #17 closed, assigned to nobody

[2016-11-19 14:25] W360S opened #18 "Ask for School Version 10"
Hello, i want to ask when to you have Schools version 10?
do you have schedule for that?

[2016-11-26 03:45] nutcracker53 opened #19 "warning in school install"
Hello
My name is Jimmi Imperial from the Philippines, I downloaded eduERPv8. When I tried to install school module I got this odoo warning - "You try to install 'school' that depends on module 'email template' but the latter module is not available in your system". The email template is already installed as per attached screenshot. Is there another email template to be installed? I checked the odo

[2016-12-01 15:09] JayVora-SerpentCS commented on #19
We will check asap.

[2016-12-01 15:10] JayVora-SerpentCS commented on #19
No, the error does not come at all.

[2016-12-01 15:10] #19 closed, assigned to nobody

[2016-12-08 09:19] evansadji opened #21 "error install exam module"
Hii.. when i was trying to install EduERPv8-8.0 ..
i was stuck with some error on exam module..
here's the log..
![screenshot 2016-12-08 12 55 46](https://cloud.githubusercontent.com/assets/10150411/21004232/e12f91d8-bd61-11e6-927a-224c4cee30ff.png)

[2016-12-08 14:31] nutcracker53 opened #22 "Error in install school module."
I installed a new instance of Odoo v9 community app on Ubuntu 16.04. I updated my Apps List to get the EduERPv8 modules. I tried to install it in two separate ways and got these errors.
1. I click on install button, see (1_school_install.jpg)
2. Got this odoo warning, see (2_odoo_warning.jpg)
3. this time, I click on the school bldg icon see (4school_community.jpg)
4. confirmation appear , see (5_

[2016-12-09 14:13] JayVora-SerpentCS commented on #21
We will review soon and fix it it appears.
Thanks for reporting.

[2016-12-09 20:56] #21 closed, assigned to nobody

[2016-12-10 01:47] evansadji commented on #21
Hai JayVora
Thank's for reply.. i am waiting for the issue tobe fixed..

Regards
E.Adji
Thank you

On 10 December 2016 at 03:56, Serpent Consulting Services Pvt Ltd <
notifications@github.com> wrote:

[2016-12-10 06:40] JayVora-SerpentCS commented on #21
Pull latest build, we have fixed it.

[2016-12-10 07:38] JayVora-SerpentCS commented on #22
Dear, The problem seems more regarding a missing module 'email_template' in your addons, this should exist in your system as it is a part of official addons.

[2016-12-10 07:38] #22 closed, assigned to nobody

[2016-12-10 07:40] JayVora-SerpentCS commented on #18
@W360S Please checkout https://github.com/JayVora-SerpentCS/EduERPv8/tree/10.0.
Thanks,

[2016-12-10 07:40] #18 closed, assigned to nobody

[2016-12-10 07:41] JayVora-SerpentCS commented on #13
Agreed, we have started working on it, shall see in v9 onwards.
Thanks.

[2016-12-10 07:41] #13 closed, assigned to nobody

[2016-12-10 15:00] evansadji commented on #21
Dear JayVora.
Awesome.. It worked like a champCool..
Thank's alot

Sent from my Samsung device

-------- Original message --------
From: Serpent Consulting Services Pvt Ltd <notifications@github.com>
Date: 12/10/2016  13:40  (GMT+07:00)
To: JayVora-SerpentCS/EduERPv8 <EduERPv8@noreply.github.com>
Cc: evansadji <evansadji@gmail.com>, Author <author@noreply.github.com>
Subject: Re: [JayVora-SerpentC

[2016-12-13 03:19] nutcracker53 opened #23 "Missing email_template persists. Cannot install school module"
Dear Sir.
I did a fresh installation of ubuntu 16.04, Updated the OS. and installed a new instance of Odoo v10 community App. I downloaded the EduERPv8 branch 10 modules from your github site and I updated my Apps List to get the EduERPv8 modules. when I tried to install it, I still get the email_template problem. Pls see steps below :
 1. I also noticed that the school modules does not have icons

[2016-12-15 08:28] Universymo opened #24 "Installation problem"
Dear Sir,

I have a problem in the installation of your module"school"on odoo v 10 with the error displayed "internal server error".

[2016-12-15 14:21] JayVora-SerpentCS commented on #24
Would you please send us the traceback?

[2016-12-16 16:24] zeroheure commented on #24
Probably his problem comes from wrong date format in xml demo data. Date are in M/D/Y while Odoo expect dates in D/M/Y. See in
/var/lib/odoo/.local/share/Odoo/addons/10.0/school/demo/school_demo.xml

[2016-12-16 16:44] zeroheure commented on #24
I forgot to copy mine installation error message:

[code]

[2016-12-16 17:25] zeroheure commented on #24
Other install problems :
I didn't saw python-qrcode dependency in the doc
update.prices model is missing :
[code]

[2016-12-20 09:19] jessekobe opened #27 ""Odoo server error" when the create button is clicked"
Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\http.py", line 638, in _handle_exception
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\http.py", line 675, in dispatch
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\http.py", line 331, in _call_function
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\service\model.py", line 119, in wrapper

[2016-12-27 12:24] JayVora-SerpentCS commented on #27
Hello @jessekobe , please pull the latest version.

[2016-12-27 12:24] #27 closed, assigned to nobody

[2016-12-27 12:25] JayVora-SerpentCS commented on #24
Please pull the latest code.

[2016-12-27 12:25] #24 closed, assigned to nobody

[2016-12-27 12:26] JayVora-SerpentCS commented on #23
Please pull the latest version, it has been fixed.

[2016-12-27 12:26] #23 closed, assigned to nobody

[2017-06-04 18:04] W360S opened #37 "Error when install Evaluation Management"
Hello i have install all of school module it work, but when i try to install Evaluation Management it show me that. plz help
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 638, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 675, in dispatch
    result

[2017-06-06 09:12] JayVora-SerpentCS commented on #37
Checking soon.

[2017-06-06 10:18] AnuKPatel commented on #37
Hello @W360S

We have installed Evaluation Management(**branch-10.0**) in new database with latest code of **Odoo v10**, but can't regenerate the issue.
It will be helpful for us if you provide the details to confirm whether we are in the same boat or not.

Thanks.

[2017-06-07 01:13] W360S commented on #37
hello plz check here you will see the error http://school-demo2.wcloud.vn/ user: demo/demo
nevermind about info, this is demo one, i will deleted db in short future.

[2017-06-07 06:02] AnuKPatel commented on #37
Hello @W360S ,

Thanks for the details. We'll check and update you ASAP.

[2017-06-07 09:17] AnuKPatel commented on #37
Helllo @W360S ,

We have checked with given credentials. There is no issue while installing Evaluation Management. We have successfully installed it at your end. but we found an issue while installing Transport management because of the base odoo have not latest code.

Currently we have installed all the modules of School Category at your end, but please pull the latest code of odoo v10 before ins

[2017-07-04 08:08] JayVora-SerpentCS commented on #37
Request to check with the latest commits. Revert back if the problem still appears.

[2017-07-04 08:08] #37 closed, assigned to nobody

[2017-12-12 05:15] odoouser2 opened #43 "installation error when tried to install with demo data"
Odoo 10

Odoo Server Error
Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\http.py", line 638, in _handle_exception
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\http.py", line 675, in dispatch
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\http.py", line 331, in _call_function
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\service\model.p

[2017-12-12 05:16] odoouser2 commented on #43
Without demo data it worked fine but error with demo data.

[2017-12-25 14:40] JayVora-SerpentCS commented on #43
Surely an error with date type.

[2018-02-02 10:47] sebytza05 opened #44 "Library Management Module Odoo 10"
Hello everyone,
I have an issue on library management module when i use the module in romanian, italian or french language.
When i want to create a Card id for a student in english language the card number has a sequence, example: C001, C002, C003 etc. But, when i want to create a Card id in another language, i receive the word "New" in the card number, not sequential.

[2018-02-05 18:54] dansputy opened #45 "Error while creating School on fresh database but work fine with demo data"
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo10/odoo/http.py", line 641, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo10/odoo/http.py", line 683, in dispatch
    result = self._call_function(**self.params)
  File "/opt/odoo10/odoo/http.py", line 333, in _call_function
    return checked_call(self.db, *args, **kwarg

[2018-02-06 13:42] JayVora-SerpentCS commented on #45
@arpit983 please check it.

[2018-02-06 14:11] Arpit-SerpentCS commented on #44
solved

[2018-02-06 14:28] JayVora-SerpentCS commented on #45
Closed by #46

[2018-02-06 14:28] JayVora-SerpentCS commented on #44
Closed by #46

[2018-02-06 14:28] #44 closed, assigned to nobody

[2018-02-06 14:29] JayVora-SerpentCS commented on #43
@arpit983

[2018-02-07 07:59] sebytza05 opened #47 "Library Management Module Odoo 10"
Hello everyone,
Thanks for solving me that problem with Card id.
Now i have a new issue on library management module.
When i want to create a "book issue" in other language (example: french, italian, romanian) i select card number but when i want to select a "book name" does not appear my list of values. When i use language english appear my list of values which i created.

[2018-02-07 08:57] Arpit-SerpentCS commented on #43
solved

[2018-02-07 10:02] JayVora-SerpentCS commented on #43
#48 closed.

[2018-02-07 10:02] #43 closed, assigned to nobody

[2018-02-07 10:02] JayVora-SerpentCS commented on #45
#48

[2018-02-07 10:02] #45 closed, assigned to nobody

[2018-02-07 10:04] JayVora-SerpentCS commented on #47
@arpit983 Can you check?

[2018-02-08 06:12] Arpit-SerpentCS commented on #47
solved #49

[2018-02-08 06:38] #47 closed, assigned to nobody

[2018-02-23 18:31] fvlasie opened #51 "Install error"
On Odoo 11.0 when I try to install, I get the message
 "You try to install module 'library' that depends on module 'account_accountant'"
When I click to install EducationERP: Install all the modules

[2018-02-26 05:52] JayVora-SerpentCS commented on #51
@fvlasie We have yet to migrate to v11, its a  work in progress

[2018-03-04 12:26] dansputy opened #52 "Time table schedule time is not displaying true time set"
If time table is is set at 10:30, it doesn't display that exact time when Printed in PDF.

[2018-03-04 12:30] dansputy opened #53 "How can we migrate a student from one standard to another standard?"
How can we move a student from one standard to another after end of academic session?

[2018-03-05 14:33] JayVora-SerpentCS commented on #53
We can upgrade by the standard change. Guess we have a new update over this utility.
CC @AnuKPatel please check.

[2018-03-05 14:35] JayVora-SerpentCS commented on #52
@Arpit-SerpentCS

[2018-03-05 15:56] dansputy commented on #53
I appreciate your response but am not clear with your comments. I hope can make free donation when appropriate?
I look forward to know on how to migrate student from one standard to another standard.

[2018-03-05 15:58] JayVora-SerpentCS commented on #53
@dansputy my comments mean, our team will look and update you.
In order to upgrade the student, once he passes exam he usually gets upgraded in my idea.
You can make donations for sure.Thanks.

[2018-03-06 11:37] Arpit-SerpentCS commented on #52
solved #54

[2018-03-06 11:47] #52 closed, assigned to nobody

[2018-03-08 04:48] AnuKPatel commented on #53
@dansputy We have a menu called "Move Standards" for this which is under EMS > Configurations.

- You will get a pop-up after clicking the menu.
- Pop-up will ask for the current Academic Year from which you need to move the students to next standard.
- If you have Classes which are well configured which the sequence then students will move to next Class(If Exam module is installed then the system

[2018-03-08 06:56] dansputy commented on #53
Thanks for your time. I actually use the wizard but no effect.
On Mar 8, 2018 5:48 AM, "AnuKPatel" <notifications@github.com> wrote:

[2018-03-08 11:29] AnuKPatel commented on #53
@dansputy Can you please check the sequences of from and to classes under EMS > Configurations > Standards > Classes?
As mentioned earlier we need to have well configured sequence of Classes. For example, If sequence of current class is 5 than the next class sequence should be 6.
Thanks.

[2018-03-14 05:41] #53 closed, assigned to nobody

[2018-03-21 03:13] ajinkyagadewar opened #55 "Error while setting up subjects"
Hello:

We are getting attached error while setting up subjects.
![screen shot 2018-03-21 at 8 42 22 am](https://user-images.githubusercontent.com/3275617/37693165-ee5961b6-2ce3-11e8-8685-47ab8570b824.png)

[2018-03-21 03:29] ajinkyagadewar opened #56 "Fees Heads are not reflecting in Fees Structure"
Hello:

I have created 4 fess head but when I try to create fees structure, it doesn't show any fees heads.

[2018-03-21 12:31] ajinkyagadewar opened #57 "Fees Register is not getting updated"
After paying the fees, fees register is not getting updated automatically.

[2018-03-23 10:01] dansputy opened #58 "Students not moving from one class to another class"
I have sequencially created classes and created different academic year. When I run the move standard wizard no student was moved despite the student has pass exam.
We need to urgently pay attention to this or make alternative way to manually promote student from one standard to another.

Thank you for the great job.

[2018-03-23 13:47] Arpit-SerpentCS commented on #57
solved #59

[2018-03-23 13:47] Arpit-SerpentCS commented on #56
solved #59

[2018-03-23 13:47] Arpit-SerpentCS commented on #55
solved #59

[2018-03-23 15:24] #55 closed, assigned to nobody

[2018-03-23 15:24] #57 closed, assigned to nobody

[2018-03-23 15:25] #56 closed, assigned to nobody

[2018-03-26 14:23] Arpit-SerpentCS commented on #58
@dansputy Plsease give me more details about the issue. How you have created the standards, class and exam of student so that I can check the issue accordingly in my system locally.

[2018-03-26 21:08] dansputy commented on #58
I created two classes JSS1 with sequence 1, JSS2 with sequence 2, Created
subjects assigned them to classes, created a student, created exam
schedule, created exam timetable, enroll the student into JSS1, I also
created two Academic year, 2018 and 2019. The student took exam and pass
the subjects.

So to promote the student to JSS2, I clicked on move standard wizard, a pop
up came up asking to sel

[2018-03-27 13:51] Arpit-SerpentCS commented on #58
solved  #60

[2018-03-29 05:13] ajinkyagadewar opened #61 "SMS Integration for attendance and other various areas"
Hello:

Are you planning to integrate SMS for attendance management, notices, exam results, etc?

[2018-03-29 05:13] ajinkyagadewar opened #62 "GPS Tracking of School Bus"
Are you guys planning to integrate GPS tracking of School bus?

[2018-03-29 11:42] #58 closed, assigned to nobody

[2018-03-29 11:43] JayVora-SerpentCS commented on #51
https://github.com/JayVora-SerpentCS/OdooEduERP/tree/11.0

[2018-03-29 11:43] #51 closed, assigned to nobody

[2018-03-29 11:44] JayVora-SerpentCS commented on #61
@ajinkyagadewar You may do this via SMS API. Odoo already provides this feature.

[2018-03-29 11:44] #61 closed, assigned to nobody

[2018-03-29 11:46] JayVora-SerpentCS commented on #62
@ajinkyagadewar This will be an external integration, with GPS enabled devices ported on fleet.
Once there is a funders of the activity, we have in the roadmap.
Thanks.

[2018-03-29 11:46] #62 closed, assigned to nobody

[2018-03-30 05:03] ajinkyagadewar commented on #62
How much fund do you think we need for this project?

[2018-03-30 15:26] JayVora-SerpentCS commented on #62
There has to be a discussion done on contact@serpentcs.com
Usually, we should list out feature, flow of it, then the efforts and funding.
Thanks.

[2018-03-31 03:33] ajinkyagadewar commented on #61
Any links you can provide for SMS API?

[2018-04-16 06:37] ajinkyagadewar opened #65 "Not pulling available states"
Hello:

While creating new school it is not pulling available states.
![screen shot 2018-04-16 at 12 06 06 pm](https://user-images.githubusercontent.com/3275617/38793383-ab499c8e-416e-11e8-86cf-ddc082f10365.png)

[2018-04-16 06:44] ajinkyagadewar commented on #65
Understood. We have to select the country before selecting the state. So I am moving the position of the country field before state.

[2018-04-16 06:44] #65 closed, assigned to nobody

[2018-04-16 12:36] ajinkyagadewar opened #66 "Name at all places"
Currently, at all locations like Admission Register, Fees Receipt, etc. system reflects first name of the student instead of full name.
![screen shot 2018-04-16 at 6 04 05 pm](https://user-images.githubusercontent.com/3275617/38809340-d18318da-41a0-11e8-9b1b-0a72e2052ba2.png)

[2018-04-16 12:40] ajinkyagadewar opened #67 "Fee Receipt creation on Admission"
Why Fee Receipt doesn't get created automatically when Admission is in Done state? As of now it needs to be selected manually.

[2018-04-28 19:14] LuiggiMS opened #70 "Error when trying to install School Module"
Hi. I tried to install School Module in a clean installation of Odoo 11.0 (Community Edition)

But I received this error, related to Model 'report'.
Traceback (most recent call last):
  File "/Users/luiggi/Desktop/enviroment-python/odoo/odoo/http.py", line 650, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/Users/luiggi/Desktop/enviroment-python/odoo

[2018-04-30 08:01] JayVora-SerpentCS commented on #70
Did you try with latest source? We have removed this from v11 already.

[2018-04-30 08:01] #70 closed, assigned to nobody

[2018-05-02 15:31] JayVora-SerpentCS opened #84 "[v11]Exam : Travis fails"

[2018-05-02 15:31] JayVora-SerpentCS commented on #84
@Arpit-SerpentCS

[2018-05-03 05:00] Arpit-SerpentCS commented on #84
Sir, Exam module is still not migrated in v11. It is in progress.

[2018-05-03 11:06] Arpit-SerpentCS commented on #84
solved #85

[2018-05-07 07:21] sebytza05 opened #86 "Library Management Module Odoo 10"
Hello everyone,
I have a new issue on library management module.
I can't move students from the first grade to the second grade or third grade after a year. (i cant edit the field "Classes")
How can i move students from the first grade to the second grade?

[2018-05-08 20:09] LuiggiMS opened #87 "Error installing module "Attendance Management" in Odoo 11.0"
I have successfully install module 'School' but after that when I try to install module "Attendance Management" It appear a error. It seems there is a problem with the model 'ir.needaction_mixin'.

`Traceback (most recent call last):
  File "/Users/luiggi/Desktop/enviroment-python/odoo-11.0/odoo/http.py", line 650, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exceptio

[2018-06-06 11:08] JayVora-SerpentCS commented on #66
We will consider it as a wishlist, thanks.

[2018-06-06 11:08] #66 closed, assigned to nobody

[2018-06-06 11:09] JayVora-SerpentCS commented on #87
Doesn't seem to happen with our set of modules. Please recheck with latest source, and also make sure any 3rd party app does not conlfict.

[2018-06-06 11:09] #87 closed, assigned to nobody

[2018-06-06 11:12] JayVora-SerpentCS commented on #67
We can get it auto created based on automated action on odoo! But if its provided by program, it surely a plus.Thanks.

[2018-06-06 11:12] #67 closed, assigned to nobody

[2018-07-10 05:14] ajinkyagadewar opened #100 "Parents get full access rights by default"
Parents get full access rights by default which is major bug in the system.

[2018-07-11 07:36] JayVora-SerpentCS commented on #100
@ajinkyagadewar Please explain by example.

[2018-07-14 15:20] ajinkyagadewar commented on #100
Sure. Whenever I create a new student in the system with Parent details, it creates a new user for Parent too. That new user get all permissions in Odoo.

[2018-07-24 06:24] #84 closed, assigned to nobody

[2018-07-24 08:09] Arpit-SerpentCS commented on #100
solved #109

[2018-07-24 08:16] Arpit-SerpentCS commented on #86
Please configure standards from Standards menu under configuration menu sequentially.
For example:
  if sequence of standard 10 division A and medium English is 1, then sequence of standard 11 division A and medium English should be 2.

[2018-07-24 14:13] #100 closed, assigned to nobody

[2018-07-24 14:13] #86 closed, assigned to nobody

[2018-08-08 11:15] bidish opened #110 "Monthly Attendance Sheet"
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/demo/demo-server/odoo/http.py", line 650, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/demo/demo-server/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/demo/demo-server/odoo/tools/pycompat.py", line

[2018-08-08 11:17] bidish opened #111 "Parent"
parent can not see student

[2018-08-14 11:21] JayVora-SerpentCS commented on #111
Please specify the steps.
Cc : @Arpit-SerpentCS

[2018-08-14 11:21] JayVora-SerpentCS commented on #110
@Arpit-SerpentCS

[2018-08-14 11:22] JayVora-SerpentCS commented on #110
Help us with the steps too.

[2018-08-14 11:34] bidish commented on #111
Create ParentCreate Student and add parentLogin as parent.

Sent from Yahoo Mail on Android

  On Tue, Aug 14, 2018 at 12:21, Serpent Consulting Services Pvt. Ltd.<notifications@github.com> wrote:
Please specify the steps.
Cc : @Arpit-SerpentCS

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-08-14 21:09] bidish commented on #111
Steps to repoduce:
Create Parent
Create Student Profile
Add Parent.
Login  as parent and click of student. The record added does not show.

[2018-08-14 21:11] bidish commented on #110
Steps to reproduce:

Go to Attendance
Select Monthly Attendance Sheet
Fill in the information
Click on Open Attendance Sheet.

[2018-08-15 08:37] inovtec-solutions opened #112 "[WISHLIST] v13 - Suggestions Regarding Fee Module"
Dears,
I am working with your Education ERP, I have some suggestions regarding "Fee Module".
Why we not including product for students invoices, as produt id is empty.

See below image for reference
![selection_023](https://user-images.githubusercontent.com/9356127/44139237-e944cb5a-a08f-11e8-9a90-c1b2ba0ebc4e.jpg)

Generally, we have a Fee Structure like (Normal Fee, Employee Son Fee, Scholarship

[2018-08-16 06:47] Arpit-SerpentCS commented on #111
@bidish  Can you please check the allowed companies are same for parent and its related student?
I think the parent's company is different from student's company.

[2018-08-17 07:43] Arpit-SerpentCS commented on #110
@bidish I have tested the issue that you have mentioned regarding the attendance module,  but I did not got any traceback when clicked on  Open Attendance Sheet button after filling details in monthly attendance sheet. Please explain the steps with more details

[2018-08-20 07:55] bidish commented on #110
@Arpit-SerpentCS Maybe I am doing something wrongly here but the issue persists. I always get error when I fill in the monthly attendance sheet and click on open attendance sheet. Has it got anything to do with enterprise or community?

[2018-08-21 07:23] Arpit-SerpentCS commented on #110
@bidish we have tested in the odoo 10/11 community version.Please tell us on which environment you are working?

[2018-08-23 07:03] JayVora-SerpentCS commented on #112
Sure, a good suggestion.  You may add this into contribution if you feel any change needed.

[2018-09-28 12:13] probasse opened #113 "Schools and Student not Visible"
Schools and Students created in a logon is not visible in any other logon (User).
Could you please check this

[2018-09-29 03:33] plkasee opened #114 "Issue: "Document type: Teacher Information, Operation: write""
While creating teacher I get the following error

Issue: "Document type: Teacher Information, Operation: write"

Can anyone suggest what is wrong?

[2018-09-29 16:33] probasse commented on #114
Issue resolved.
School Teacher group is not allowed to create the teacher but only administrator

[2018-09-29 16:34] probasse commented on #113
Issue Resolved
Select the right company code from the top right of Odoo

[2018-09-29 16:34] #113 closed, assigned to nobody

[2018-09-29 16:38] probasse opened #115 ""Assign Assignment" & Class/Subject/Teacher Issue"
There are two issues.
A teacher "Malli" is assigned the subject "Maths" & Class Teacher for Class "Three";
"Maths" is a subject for Classes "One", "Two", "Three" and "Four".
When "Assign Assignment" is chosen to create a assignment for Subject "Maths" to Class "Two" the issue are
(1) Only Class Three is showing up in the Dropdown for Class.
(2) There is no Subject showing up in the Dropdown for Su

[2018-11-12 11:13] Johan-Kenneth opened #116 "Module report not found"
When I try to install one of the module developped , I get this message :
"Vous essayez d'installer le module "school" qui dépend du module "report".
Mais ce dernier n'est pas disponible sur votre système."
Please where can I find the module "report"?

[2018-11-13 06:44] JayVora-SerpentCS commented on #116
@AnuKPatel

[2018-11-13 06:45] JayVora-SerpentCS commented on #116
Which version are you trying @Johan-Kenneth  ?

[2018-11-14 05:13] Johan-Kenneth commented on #116
I downloaded the version from here, I think it is the last version.
When I go in the properties of the school module ,I find that the state of the dependance is unknow...
I have installed the module intrastat reporting base, I don't know if "report" is talking about that.

[2018-11-14 06:02] Johan-Kenneth commented on #116
I have found that in the module school :
'depends': ['hr', 'crm', 'report', 'account', 'account_accountant'],
The dependence report here is not found in my odoo version (12) but I found all the rest.

[2018-11-14 06:04] Johan-Kenneth commented on #116
I have found that in the module school in the manifest file :
'depends': ['hr', 'crm', 'report', 'account', 'account_accountant'],
The dependence report here is not found in my odoo version (12) but I found all the rest.
https://github.com/odoo/odoo/tree/12.0/addons
https://apps.odoo.com/apps/modules/browse?price=Free&search=report
May be you have implement a module report.

[2018-11-14 06:57] JayVora-SerpentCS commented on #116
Seems you are using v10 source with v12 odoo.
https://github.com/JayVora-SerpentCS/OdooEduERP/blob/12.0/school/__manifest__.py does not have report.

[2018-11-14 06:57] #116 closed, assigned to nobody

[2018-11-14 06:59] Johan-Kenneth commented on #116
thank you very much, I will try it.

[2018-11-14 08:33] Johan-Kenneth opened #117 "error install school module"
I catch this error when I try to install the school module:
plz I need help:

Odoo Server Error
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/tools/convert.py", line 748, in parse
    self._tags[rec.tag](rec, de, mode=mode)
  File "/usr/lib/python3/dist-packages/odoo/tools/convert.py", line 653, in _tag_record
    record = model.with_context(rec_context)._load_reco

[2018-11-15 04:16] Johan-Kenneth commented on #117
Please have you a solution about this error?

[2018-11-15 06:54] JayVora-SerpentCS commented on #117
Team is working on it.

[2018-12-18 06:48] lammh opened #126 "I Can't create student V10"
hello , i can't create a new student
i have install all modules and have all permission
![studiant](https://user-images.githubusercontent.com/7395544/50136794-2d040200-0299-11e9-95a8-91c6782506f6.png)

![st2](https://user-images.githubusercontent.com/7395544/50136816-473de000-0299-11e9-8b8c-28cec6b4e7e7.png)
![admin](https://user-images.githubusercontent.com/7395544/50136830-5a50b000-0299-11e9-82a

[2019-01-09 05:39] grupokam opened #128 "problem when creating new admission record V11"
when I want to make a new record from another user that is not the administrator it gives me a writing problem and in other users it gives me problems when generating the student id since it only remains as new

![image](https://user-images.githubusercontent.com/46513856/50878891-78906400-139e-11e9-8609-86fd8b7e33ec.png)

As you can see in the image the student id remains as false and does not giv

[2019-01-09 06:45] JayVora-SerpentCS commented on #128
@AnuKPatel check

[2019-03-14 13:51] seanmavley opened #132 "The requested operation cannot be completed due to security restrictions"
I get this in the frontend

Then the logs say this:

The weird thing is, some 2 weeks ago, I had setup Odoo with same process as I've done now, and there wasn't any issue creating a School.

Right after installation and setup and login (didn't check the 'Load Data'),
 - I install the School module
 - I head over to the School module to create a school, then the error comes up.

What am I doing wro

[2019-03-14 14:14] #132 closed, assigned to nobody

[2019-03-17 20:40] seanmavley opened #133 "[WISHLIST] v13 - Age of student should be greater than 5 years!"
To decrease this student age threshold, how do I go about it?

Use case is a pre-school

[2019-05-08 06:16] AnuKPatel commented on #133
@seanmavley ,

Currently this age constrain of 5 years is static as the functionality is for school (not pre-school), you can not change it from GUI.

[2019-05-08 07:09] AnuKPatel commented on #128
Resolve in [PR](https://github.com/JayVora-SerpentCS/OdooEduERP/pull/135).

[2019-05-08 07:12] AnuKPatel commented on #126
@lammh ,
Please select only one access of School administrator and remove all other Access groups from School Management section.

[2019-05-08 07:14] AnuKPatel commented on #117
@Johan-Kenneth ,
You can download the latest source code now and check. Module is migrated in v12 now.

[2019-05-08 07:25] AnuKPatel commented on #115
@probasse ,
Seems like these issues are because of Configuration is not Proper.

(1) Only Class Three is created for school to which Teacher "Malli" is working in.
(2) You need to select the subject in Teacher's Form for which teacher responsible for.

[2019-05-08 10:31] #128 closed, assigned to nobody

[2019-05-29 08:06] ccysfn commented on #126
i have this issue too on odooV12

[2019-05-29 08:17] JayVora-SerpentCS commented on #126
@AnuKPatel plz chk

[2019-07-05 16:04] rithin opened #144 "ERROR installing eduerp_base and school_evaluation"
Hi Team,
When i'm trying to install eduerp_base am getting the following error. Can you please give some hits to fix the problem
  I installed almost all the supporting modules but evaluation module is throwing some errors as well as the edu ERP_base also throwing some error while on installation.

Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo12/odoo/odoo/http.py", line 6

[2019-07-07 08:56] JayVora-SerpentCS commented on #144
@AnuKPatel Please take a look, thanks.

[2019-07-08 08:38] AnuKPatel commented on #144
@rithin We have successfully installed the eduerp_base with all the dependent modules at our end with latest source code of odoo 12.

Can you please check once again by pull the latest source code of odoo?

Let us know if you are still facing issues.

[2019-07-09 19:18] rithin commented on #144
@AnuKPatel , Thanks for the response.
I have pulled the latest code of odoo and use the latest code of edu_erp aswell. But still, am getting the same error. If you want the login information of server, I have already sent it to Yogendrasinh.

Regards,
RIthin

[2019-07-18 05:15] AnuKPatel commented on #126
@ccysfn You can create new students from EMS > Admission Register.
The flow is like Student will take admission first, so School admin will create record in Admission Register. After all the required details are filled up there is button called 'Done', by click on that button the admission is confirmed of the student and his/her profile is created which you can see from EMS > Profiles > Student Pr

[2019-07-21 18:30] kyaranusa commented on #112
I think this is a good suggestion and brilliant idea as well. OpenEduCat System doesn't have own fee head and fee structure. they let "product list" as a service take over for doing such our fee head & fee structure.

[2019-09-05 10:09] kwchan-mtsoln opened #153 "can't create school"
The requested operation cannot be completed due to security restrictions. Please contact your system administrator. (Document type: School Information, Operation: create) - (Records: [7], User: 6)

all access rights are set

[2019-09-05 12:00] JayVora-SerpentCS commented on #153
@dhruvitaSerpentCS

[2019-09-06 04:39] dhruvitaSerpentCS commented on #153
@heero0910 I have tested the same thing with latest code, It's working well!.
Would you please take latest pull and check it
Thanks

[2019-09-16 11:11] JayVora-SerpentCS commented on #144
@YogendrasinhChavda do you have update here?

[2019-09-17 10:31] YogendrasinhChavda commented on #144
I passed information to Jagdish Panchal, he will work on it.

[2020-01-22 07:25] Assoum90 opened #156 "Can't create class!!"
Hi, I am using School module.
I have some issues that needs to be clarified In the class field i want to add some student to different classes, however it requires to add the school_id unfortunately i cant find it's place to fill it as it appears in the screenshot attached.
Please help me.
![image (13)](https://user-images.githubusercontent.com/53982488/72873709-c39ec000-3cf0-11ea-92d3-3f44b1faabf

[2020-02-18 06:48] JayVora-SerpentCS commented on #144
I am closing as this doesnot happen in usual instances. We may reopen if found issues.

[2020-02-18 06:48] JayVora-SerpentCS commented on #133
@seanmavley we can develop a configurable option further in v13. @JagdishPanchalSCS plz note this.

[2020-02-18 06:50] #153 closed, assigned to nobody

[2020-02-18 06:50] #126 closed, assigned to nobody

[2020-02-18 06:51] #117 closed, assigned to nobody

[2020-02-18 06:52] #114 closed, assigned to nobody

[2020-02-18 06:52] #115 closed, assigned to nobody

[2020-02-18 06:54] JayVora-SerpentCS commented on #156
@Assoum90 the school is the parent model which needs to be filled in before you create class.
You should import school first.

[2020-02-18 06:54] JayVora-SerpentCS commented on #111
Closing this as it seems old one. If it comes again, we may reopen.

[2020-02-18 06:54] #111 closed, assigned to nobody

[2020-02-18 06:55] #110 closed, assigned to nobody

[2020-02-18 06:55] JayVora-SerpentCS commented on #112
@AnuKPatel please keep in TODO.

[2020-03-01 15:34] AnonJervis opened #157 "Required fields"
Just want to say these are great modules.

I got a few questions. Are there anyway to make middle name not a requirement? Some of our students don't have a middle name so its very unnecessary to add them.

Furthermore, I am having trouble finding where to create campus because it is a required field and I cannot create teacher's without it.

Are there documentations for OdooEduERP? I've been looki

[2020-03-02 07:00] JayVora-SerpentCS commented on #157
@AnonJervis ,
Yes you may make any field required/non-required. Thats technical.
About Campus, its a 'school' treated as campus. Go in configuration and make a school.
Thanks.

[2020-03-02 09:09] AnonJervis commented on #157
I did create a school but the campus field does not show so I cannot populate it. Furthermore, I cannot uncheck field to non-required because it said I cannot make that change unless I change it in the python codes and best to make a new custom module.

Please have a look at the screenshot. I have tried reinstalling odoo serveral times and on different machines and it still doesn't show campus opt

[2020-03-02 11:32] JayVora-SerpentCS commented on #157
@JagdishPanchalSCS

[2020-03-02 11:45] JagdishPanchalSCS commented on #157
@AnonJervis

"Campus" Value show based on "Responsibility of", So when you select a value in "Responsibility of" Campus will automatically show you.

[2020-03-03 05:33] AnonJervis commented on #157
I see it now. This is very different because in Odoo11 you do not need to input "responsibility of" and can select their roles after teacher creation. May I suggest implementing the same option as in Odoo11?

Thanks!

[2020-03-10 10:48] BanilSharma opened #158 "version 13 can not install on fresh Ubuntu 18.04LTS"
the below error
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/odoo13/odoo13-server/odoo/http.py", line 619, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo13/odoo13-server/odoo/http.py", line 309, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/odoo13/odoo13-server/od

[2020-03-11 05:17] JayVora-SerpentCS commented on #158
@BanilSharma Thank you for reporting, the v13 is in progress.
It has been fixed now, please fetch the latest code.
Thanks,

[2020-03-11 05:17] #158 closed, assigned to nobody

[2020-03-11 09:09] BanilSharma commented on #158
this issue still persists on fresh install
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/odoo13/odoo13-server/odoo/http.py", line 619, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo13/odoo13-server/odoo/http.py", line 309, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  Fil

[2020-03-11 09:10] BanilSharma opened #159 "Odoo13 install having the same issue again despite new code"
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/odoo13/odoo13-server/odoo/http.py", line 619, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo13/odoo13-server/odoo/http.py", line 309, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/odoo13/odoo13-server/odoo/tools/pycompa

[2020-04-04 11:14] JayVora-SerpentCS commented on #144
@JagdishPanchalSCS the issue comes because RATING module of odoo conflicts with ours.
Looks like odoo added modules since v12.
Let's have a word on Monday.
Thanks.

[2020-04-04 11:22] JagdishPanchalSCS commented on #144
@JayVora-SerpentCS yes I have traced in local and found it in school_evaluation module.

[2020-04-04 11:31] JayVora-SerpentCS commented on #144
Do check our gitlab where its a matter of _inherits, or make a check we
might not need our rating module.

On Sat, Apr 4, 2020 at 4:53 PM JagdishPanchalSCS <notifications@github.com>
wrote:

[2020-05-05 06:14] leo-ndl opened #161 "Odoo Server Error : during Exam management installation"
Error:
Odoo Server Error

Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 11.0\server\odoo\tools\convert.py", line 745, in parse
    self._tags[rec.tag](rec, de, mode=mode)
  File "C:\Program Files (x86)\Odoo 11.0\server\odoo\tools\convert.py", line 655, in _tag_record
    id = self.env(context=rec_context)['ir.model.data']._update(rec_model, self.module, res, rec_id or Fals

[2020-05-05 07:44] JayVora-SerpentCS commented on #161
@Freni-SerpentCS Can you quickly check to help @leo-gtx ?
Do we have venderdi on demo data?
"Wrong value for time.table.line.week_day: 'vendredi'"

[2020-06-15 16:20] godlove94 opened #163 "There is no current Academic Year defined!Please contact to Administator!"
Good Please am just new to the EMS. please I got this issue on version 12 when starting and Admission Register
please someone can help I have already created a year under configuration>academic year

![Screenshot from 2020-06-15 17-11-27](https://user-images.githubusercontent.com/55757905/84681612-4b010000-af2c-11ea-84b5-7b31b55c26fc.png)

[2020-06-15 16:26] inovtec-solutions commented on #163
Just activate the Academic Year you have created.

On Mon, 15 Jun 2020, 21:20 Ndango Godlove Kwela, <notifications@github.com>
wrote:

[2020-06-15 16:32] godlove94 commented on #163
thanks is ok

very grateful for the fast respond

[2020-06-15 16:32] #163 closed, assigned to nobody

[2020-07-19 14:53] sektideface opened #164 "Student Monthly Attendance Report"
File "c:\bitnami\odoo-12.0.20200215-0\apps\odoo\lib\site-packages\odoo-12.0.post20200215-py3.7.egg\odoo\addons\base\models\ir_actions_report.py", line 768, in _get_rendering_context
    data.update(report_model._get_report_values(docids, data=data))
AttributeError: 'report.school_attendance.attendance_month' object has no attribute '_get_report_values'

[2020-07-20 05:49] JayVora-SerpentCS commented on #164
@AnuKPatel

[2020-07-20 10:20] AnuKPatel commented on #164
@sektideface We will check and update you ASAP. cc @JayVora-SerpentCS

[2020-07-23 05:57] sektideface commented on #164
thanks @AnuKPatel ,hope the issues can be fix ,and i will be waiting for the update.

[2020-07-27 16:36] godlove94 opened #165 "no create option for classes"
please there is not a create a new classes option!! all I see is just the import option
![Screenshot from 2020-07-27 17-35-44](https://user-images.githubusercontent.com/55757905/88567648-b1029c00-d02f-11ea-9926-9795229b5d6a.png)

[2020-07-28 06:40] JayVora-SerpentCS commented on #165
@AnuKPatel plz check,

[2020-08-04 07:55] godlove94 commented on #165
Hello, good day!

please no update on this issue??

[2020-08-04 11:18] godlove94 commented on #165
I successfully import a class before the create option come now

[2020-08-04 11:18] #165 closed, assigned to nobody

[2020-08-04 11:23] godlove94 opened #166 "Odoo 12 can't confirm a Fees Register !!1"
error : The requested operation cannot be completed due to security restrictions. Please contact your system administrator.
(Document type: Student PaySlip, Operation: create) - (Records: [6], User: 2)

![Screenshot from 2020-08-04 12-17-08](https://user-images.githubusercontent.com/55757905/89288234-32b88200-d64d-11ea-8bba-1fc2f3030694.png)

[2020-08-04 13:37] JayVora-SerpentCS commented on #166
@godlove94 What is the user access?
In order to generate a fee, you need to be in a group that allows this access.
https://github.com/JayVora-SerpentCS/OdooEduERP/blob/12.0/school_fees/security/security_fees.xml

[2020-08-04 17:58] godlove94 commented on #166
Please help m out on how to give allows this access

[2020-08-06 01:42] lyprono opened #167 "have a issues when install module school in odoo13"
i have a issues when i install module school in odoo13 community ( Many2many fields school.teacher.category_ids and hr.employee.category_ids use the same table and columns) however i have to deleted hr module but it still have gotten error
Odoo Server Error
Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 13.0\server\odoo\http.py", line 624, in _handle_exception
    return su

[2020-08-06 06:18] JayVora-SerpentCS commented on #167
@Freni-SerpentCS Plz check

[2020-08-06 06:39] JayVora-SerpentCS commented on #166
Go to the settings of user and allow access. cc @AnuKPatel

[2020-08-06 07:44] godlove94 commented on #159
I think you should remove all @api.multi for the codes, is not more use in v13

[2020-08-06 08:54] AnuKPatel commented on #166
@godlove94 Can you please share a screenshot of setting>users>Administrator From here? I think you have set up user role inappropriately. cc @JayVora-SerpentCS

[2020-08-06 09:04] lyprono commented on #167
Thank i have fixed this error however it still have gotten in view .this module supported  for odoo13 because have alot error code with odoo13
Odoo Server Error
Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 13.0\server\odoo\tools\convert.py", line 712, in parse
    self._tag_root(de)
  File "C:\Program Files (x86)\Odoo 13.0\server\odoo\tools\convert.py", line 674, in _tag_

[2020-08-06 09:11] lyprono commented on #167
hello sir
this is module have supported in odoo13?

[2020-08-06 12:07] godlove94 commented on #166
ok!!! please see screeshot below

![Screenshot from 2020-08-06 13-06-35](https://user-images.githubusercontent.com/55757905/89530103-d2107d00-d7e5-11ea-9d16-2d40d3ed3309.png)
![Screenshot from 2020-08-06 13-06-53](https://user-images.githubusercontent.com/55757905/89530109-d50b6d80-d7e5-11ea-8737-1402d01e5c9b.png)

[2020-08-06 13:39] #166 closed, assigned to nobody

[2020-08-06 13:40] JayVora-SerpentCS commented on #167
I assume v13 code is not pushed or published. @AnuKPatel  ?

[2020-08-06 13:40] JayVora-SerpentCS commented on #159
v13 isnt published yet

[2020-08-07 01:37] lyprono commented on #167
can you share  v13?

[2020-08-10 09:26] JayVora-SerpentCS commented on #167
yes just v13 is uploaded. Thanks,

[2020-08-10 09:26] #167 closed, assigned to nobody

[2020-08-10 09:26] JayVora-SerpentCS commented on #159
its published now, thanks.

[2020-08-10 09:26] #159 closed, assigned to nobody

[2020-08-10 09:27] JayVora-SerpentCS commented on #157
Make a PR my friend

[2020-08-10 09:27] #157 closed, assigned to nobody

[2020-08-25 07:58] godlove94 opened #178 "[WISHLIST] v13 can't create school fees register"
Please I got this message when trying to create a Fees Register and also when I select a Fees structure the amount doesn't appear during the creation of a Fees Register as shown on the screenshot below, also see below the message error

The requested operation ("create" on "Student PaySlip" (student.payslip)) was rejected because of the following rules:
- Student Fees Record Rule
- Parent Fees Rec

[2020-08-25 10:27] JayVora-SerpentCS commented on #178
@AnuKPatel

[2020-08-31 10:15] godlove94 commented on #178
Please no updates on these issue?

[2020-09-13 14:52] hmanprod opened #182 "Error on Installing eduERP"
Hi Team

I got error below when i try to install eduERP.

Erreur:
Odoo Server Error

Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 13.0\server\odoo\http.py", line 624, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "C:\Program Files (x86)\Odoo 13.0\server\odoo\http.py", line 310, in _handle_exception
    raise pycompat.reraise(

[2020-09-14 07:23] JayVora-SerpentCS commented on #182
@foramserpentcs
 please help

[2020-09-14 09:56] #182 closed, assigned to nobody

[2020-10-09 10:53] rishabhjhalani opened #196 "ModuleNotFoundError: No module named 'odoo'"
I didn't find the requirement.txt file in the repo. If odoo is another app, then it is missing in repo. how can i start from strach.

[2020-10-09 15:17] #196 closed, assigned to nobody

[2020-10-09 15:17] rishabhjhalani commented on #196
Follow this
https://www.cybrosys.com/blog/configure-pycharm-odoo-13-development-ubuntu-20-04

[2020-10-18 21:24] sluggogle commented on #165
I confirm that on a fresh install even after creating school/division/medium/classroom/subjects, you can only import Classes and not create

[2021-03-27 12:34] JayVora-SerpentCS commented on #156
@AnuKPatel We have to fix as major users face issue in creating class, being unable to do so.

[2021-03-27 14:03] shahnoorafreen commented on #156
Hi,
i have installed your app just now. i am unable to create class since its showing import button instead of create button also note that i have created school filled details and saved . i have attached screenshot below please help me out with the problem, thank you
![Capture](https://user-images.githubusercontent.com/75296632/112723172-b1d53000-8f26-11eb-8b8b-aa70b8f823ff.JPG)

[2021-03-31 06:18] AnuKPatel commented on #178
@godlove94 The user 'Administrator' having no access to Fees module.
You need to setup the user access control from Setting > User > Administrator.

Give School administrator access rights to this user.

[2021-03-31 06:21] AnuKPatel commented on #164
@sektideface We have checked in every possible scenario to regenerate this issue at our end but everything seems to be working fine with odoo12.

We have check odoo v12 as in the log you have shared it's "odoo-12.0.20200215-0". May I know if you are using another odoo version?

[2021-03-31 06:56] AnuKPatel commented on #156
@Assoum90 @shahnoorafreen
We are checking this issue and update you here ASAP.
Meanwhile can you please provide the details like which odoo version you are using and with which user are you logged in?

[2021-03-31 07:00] AnuKPatel commented on #144
@JagdishPanchalSCS Can you please update us, this issue is fixed or not? If fixed we can close this issue.

[2021-03-31 07:02] JagdishPanchalSCS commented on #144
@AnuKPatel Yes fixed alredy.

[2021-03-31 07:03] #133 closed, assigned to nobody

[2021-03-31 07:08] JayVora-SerpentCS commented on #133
will be covered in v14. Thanks,

[2021-03-31 07:09] shahnoorafreen commented on #156
Hi,

I am using odoo version 13 and logged in as admin.

Thanks & Regards
Shahnoor afreen

On Wed, 31 Mar 2021, 10:56 am AnuKPatel, ***@***.***> wrote:

[2021-03-31 07:25] AnuKPatel commented on #156
@shahnoorafreen @Assoum90

The issue is because of the view.
You will find a create button by switching the view to List from kanban.
Here is the screen recording to help you out. [How to Do so!](https://drive.google.com/file/d/1agfZ_7eLyuXaX9sNjE_d8oWWbpldQup0/view?usp=sharing)

[2021-03-31 07:35] shahnoorafreen commented on #156
Thank you so much serpent team is the best!

Thanks & Regards
Shahnoor afreen

On Wed, 31 Mar 2021, 11:25 am AnuKPatel, ***@***.***> wrote:

[2021-03-31 08:57] #156 closed, assigned to nobody

[2021-03-31 10:25] #144 closed, assigned to nobody

[2021-03-31 10:26] JayVora-SerpentCS opened #201 "[WISHLIST] [14.0] Print Library card"
Add a report that will print the library card for student and teachers!
For the format, look around the global formats.

[2021-04-19 04:55] AnuKPatel commented on #201
@JayVora-SerpentCS This is done.
You can close the issue.

[2021-04-21 17:36] #201 closed, assigned to Trivedi-Vacha-SerpentCS, AnuKPatel

[2021-05-30 20:58] trixocom opened #203 "V13 Can not create and start a new EXAM (missing exam schedule)"
Step to reproduce:
1 - I Installed OdooV13 from scratch, then cloned this repo, and installed school and exam+timetable, modules with demo data in a new database.
2- All demo data loaded succesfully
3-Go to Exam menu, then Exam. and create a new exam for the already created timetable in demo.
4-I fill up the data, select Class
5-Goto Exm Schedule tab, and try to add a new item, but no results, bla

[2021-09-06 11:03] AnuKPatel commented on #203
@trixocom Please pull the latest code and check. The issue is resolved now.

Let us know if you face any other issue.
Thanks.

[2022-03-13 10:59] zeintiz opened #210 "got error :Student Attendance Sheet Sorry no matrix data to display"
hi everybody

i install odoo 14 on ubuntu.

i have problem to see daily attendance in school erp . i define new daily attendance sheet . but when i go to "fill students attendance" i got this message :
Sorry no matrix data to display.

please help me to solve this problem!?
tankx in advance

![image](https://user-images.githubusercontent.com/32398254/158056358-fa628ae5-d3fb-41d1-8237-1a014b0dafe0.

[2022-03-14 09:54] JayVora-SerpentCS commented on #210
@AnuKPatel

[2022-03-14 16:10] zeintiz commented on #210
plz help? student attendance sheet didnt work correctly?? my odoo is 14. plz help?!!

[2022-04-13 10:59] Nuradin2022 commented on #210
1.Daily Attendance sheet not work  and  Monthly  Attendance not display Absent  and  present , Sorry no matrix data to display.

[2022-04-13 11:01] Nuradin2022 commented on #210
How to Solve  a problem Daily Attendance

[2022-04-25 12:24] AnuKPatel commented on #210
@Nuradin2022 @zeintiz The code is updated now. Please check with the latest source code.

[2022-04-29 11:53] #210 closed, assigned to nobody

[2022-04-29 11:53] #203 closed, assigned to AnuKPatel

[2022-04-29 11:53] #178 closed, assigned to nobody

[2022-04-29 11:53] #164 closed, assigned to nobody

[2022-04-29 11:54] JayVora-SerpentCS commented on #161
We will reopen when info is provided. Till then, better is to use latest version.
Thanks,

[2022-04-29 11:54] #161 closed, assigned to nobody

[2022-05-11 12:48] geelaniconsultancy commented on #210
Hi,
Where to find the updated code?

[2022-05-13 09:23] AnuKPatel commented on #112
Added improvements as per described here in v15.
@JayVora-SerpentCS Please close the issue.

[2022-05-13 11:27] JayVora-SerpentCS commented on #210
@geelaniconsultancy Here you go : https://github.com/JayVora-SerpentCS/OdooEduERP/tree/15.0

[2022-05-13 11:46] geelaniconsultancy commented on #210
any update for version 14?

[2022-05-14 21:06] anisus77 opened #214 "Paid Amount and Remaining Amount do not update after paying the invoice in V15"
i tried all cases, switching from my campany(admision for student and creating hostel student) to the school campany created and still Paid Amount and Remaining Amount do not update, in hostel and in fees after paying the bill
![facture](https://user-images.githubusercontent.com/14073043/168448324-e324149d-6d71-45f3-baa1-60b75241bc45.png)

![hostel](https://user-images.githubusercontent.com/140730

[2022-05-17 03:01] AnuKPatel commented on #214
@anisus77 Let us check and get back to you on this.

[2022-05-17 14:08] #112 closed, assigned to nobody

[2022-05-18 13:21] #214 closed, assigned to nobody

[2022-05-19 19:10] anisus77 opened #217 "Paid Amount and Remaining Amount do not update after paying the invoice in V15 in school_fees module"
same problem in fees register as it was in hostel before fixing
(https://github.com/RiteshSerpentCS/OdooEduERP/tree/15.0/school_fees/models)/school_fees.py /
class AccountPayment(models.Model):
    _inherit = "account.payment"

    def action_post(self):

[2022-05-20 11:27] #217 closed, assigned to nobody

[2022-05-26 09:06] geelaniconsultancy opened #219 "Bulk Import Students and assign class, standard and division to it"
Hi,
We are trying to bulk import students and assign them to a class.
While doing bulk import, we map the column of Class. In CSV we entered the Class as below values:
10
10th[A]
10th.
However, each time it throws an error saying no matching records found.
Please let us know if we are missing something here.
Attached is the screenshot of errors that we are getting and the sheet that we are trying

[2022-05-26 12:57] geelaniconsultancy opened #220 "Teacher Login Does not show attendance"
When a teacher logs in to the system, he/she does not see her classes for which attendace is to be taken.
Admin is able to take attendance.
Please let us know if we are missing any permissions or settings or configurations.

[2022-05-26 13:23] JayVora-SerpentCS commented on #219
Its a typical odoo import and you have to make sure your relational records pre-exist.
Please see : https://www.odoo.com/documentation/15.0/applications/general/export_import_data.html
The many2one or many2many records you have, should be referred and imported in advance.
Thanks,

[2022-05-26 13:23] #219 closed, assigned to nobody

[2022-05-26 13:48] geelaniconsultancy commented on #219
Hello,
Thank you for the quick reply.
We checked. The records exists. However it doesnt allow to import even then.

[2022-05-26 14:49] JayVora-SerpentCS commented on #219
can you trace the create()?

[2022-05-27 07:02] geelaniconsultancy commented on #219
We traced the create method.
The standard_id (Labelled as Class in bulk import) does not get through. It comes empty in the create method.
If we pass standard_id hard coded in the create method and do bulk import, the records are getting created.

[2022-06-07 12:53] AnuKPatel commented on #220
Hello @geelaniconsultancy ,
I think you are missing the the configuration.
1) you need to add a teacher to class for which he/she is responsible.
2) Teacher's User profile (settings>Users) school teacher access should be given.

Let us know which version of odoo you are using, if you still facing the issues share the screen shot teacher profile and user access to help us to identify the issue.

[2022-08-12 07:58] BOUCHARIE opened #221 "Erreur utilisateur"
WHEN TRYING TO CREATE A SCHOOL I GET THIS Kindly configure your stages with the related status field

[2022-10-26 15:04] Sumairabroadpeak opened #222 "Unable to add amount"
Hi there,

I am trying to use School_Fee addon. I created fee heads and i am unable to add amount there as this feild is lock.  Based on fee heads i have created fee structure which i am using while generating a fee slip but nothing refelecting there.

Regards
[Fee head issue.webm](https://user-images.githubusercontent.com/88372038/198062850-4bb07d4c-4be0-426a-8759-778a63aca885.webm)

[2022-11-10 05:01] nikul-serpentcs opened #223 "Migration to v16"
Modules to migrate

- [ ] [school](https://github.com/JayVora-SerpentCS/OdooEduERP/tree/15.0/school) #225
- [ ] [school_attendance](https://github.com/JayVora-SerpentCS/OdooEduERP/tree/15.0/school_attendance)
- [ ] [school_evaluation](https://github.com/JayVora-SerpentCS/OdooEduERP/tree/15.0/school_evaluation)
- [ ] [school_event](https://github.com/JayVora-SerpentCS/OdooEduERP/tree/15.0/school_ev